@use 'colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');


$primary-font: 'Bebas Neue';
$secondary-font: 'Marvel';

p {
    //font-size: 18px;
    font-size: clamp(1rem, 6vw, 1.25rem);
}

h1 {
    font-size: clamp(1rem, 6vw, 3rem);
    font-family: $primary-font;
    color: $marvel-red;
    font-weight: 700;
}

h2 {
    font-size: clamp(1rem, 6vw, 2rem);
    font-family: $primary-font;
    color: $marvel-red;
    font-weight: 700;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: $marvel-red;
}