@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");
body {
  margin: 0;
}

p {
  font-size: 18px;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5625rem;
  margin-left: 1.5625rem;
}
.navbar__brand {
  font-family: "Bebas Neue";
  color: #BC3838;
  font-size: 2.5rem;
  font-weight: 700;
}
.navbar__links {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar__mobile-button {
    display: none;
  }
  .navbar__links {
    display: inline-block;
  }
  .navbar__links > ul {
    display: flex;
    list-style-type: none;
  }
  .navbar__links > ul > li {
    font-size: 1.125rem;
    padding-right: 1.25rem;
    font-family: "Marvel";
  }
}
.hero {
  position: relative;
  margin-bottom: 3.125rem;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4.6875rem;
  background: #BC3838;
  opacity: 20%;
  top: 12.5%;
}
.hero::after {
  content: "Welcome To";
  opacity: 20%;
  position: absolute;
  font-size: 5.375rem;
  font-family: "Bebas Neue";
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  top: 0;
  left: 10%;
  width: 300px;
  line-height: 100px;
  padding-left: 15px;
}
.hero__container {
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
  margin-top: 2.5rem;
}
.hero__left-col {
  display: flex;
  align-items: center;
}
.hero__left-col > img {
  width: 9.375rem;
  border-left: 7px solid #BC3838;
  z-index: 1;
}
.hero__text {
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 2.5rem;
  width: 200px;
  z-index: 1;
}
.hero__text > span {
  display: block;
}
.hero--red {
  color: #BC3838;
}
.hero__blurb {
  font-family: "Marvel";
  margin-top: 2.5rem;
}
.hero__cta {
  background: #BC3838;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  border: 1.15px solid black;
  width: 6.25rem;
  font-size: 0.9375rem;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  margin-top: 1.5625rem;
}

@media only screen and (min-width: 768px) {
  .hero__container {
    display: flex;
  }
  .hero::before {
    top: 30%;
  }
  .hero::after {
    top: 10%;
    left: 5%;
  }
  .hero__blurb {
    font-family: "Marvel";
    margin-top: 3.4375rem;
  }
}
.resources {
  background-color: #F9E9D7;
  padding-bottom: 3.125rem;
  position: relative;
  padding-top: 4.375rem;
}
.resources::before {
  content: "Resources";
  font-family: "Bebas Neue";
  color: #BC3838;
  font-size: 2.875rem;
  font-weight: 700;
  position: absolute;
  top: -2.5%;
  right: 5%;
}
.resources__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.resources__card {
  background-color: white;
  width: 13.75rem;
  border-radius: 1rem;
  border: 0.558491px solid rgba(0, 0, 0, 0.2);
  box-shadow: 4.38685px 4.87428px 22.3396px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5625rem;
}
.resources__card__icon {
  border-radius: 1rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources__card__icon > img {
  width: 12.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resources__card__icon--purple {
  background-color: #E9D7F9;
}
.resources__card__icon--green {
  background-color: #D7F9D8;
}
.resources__card__icon--blue {
  background-color: #D7E7F9;
}
.resources__card__title {
  padding-top: 1.5625rem;
  padding-bottom: 0.625rem;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 800;
  font-family: "Bebas Neue";
}
.resources__card__description {
  font-size: 1.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}

.about {
  position: relative;
}
.about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5.3125rem;
}
.about__container::before {
  content: "About Me";
  font-family: "Bebas Neue";
  color: #BC3838;
  font-size: 2.875rem;
  font-weight: 700;
  position: absolute;
  top: -7%;
  right: 5%;
}
.about__text {
  width: 80%;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
}

@media only screen and (min-width: 768px) {
  .resources__container {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
  }
  .resources::before {
    top: -6.4%;
    right: 5%;
  }

  .about__container::before {
    top: -10%;
    right: 5%;
  }
}
.footer {
  background: #BC3838;
  font-family: "Bebas Neue";
  color: white;
  line-height: 0rem;
  position: relative;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-wrap: wrap;
}
.footer__container::before {
  content: "";
  background: url("/footer-splash.f0a39e1a.svg");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__left {
  padding-right: 3.125rem;
}
.footer__left > p {
  font-size: 1.5625rem;
  line-height: 0rem;
}
.footer__center > span {
  font-size: 18px;
  line-height: 20px;
  margin-right: 10px;
}
.footer__center > p {
  font-size: 12px;
}
.footer__right > span {
  font-size: 18px;
  line-height: 20px;
}
.footer__right > p {
  font-size: 12px;
}

/*# sourceMappingURL=/main.39afc03c.css.map */