@use '../abstracts/' as a;
@use '../functions/' as *;

.resources {
    background-color: a.$section-color;
    padding-bottom: 5rem;
    position: relative;
    padding-top: rem(70);
    margin-top: rem(80);

    &::before {
        content: "Resources";
        font-family: a.$primary-font;
        color: a.$marvel-red;
        font-size: rem(46);
        font-weight: 700;
        position:absolute;
        top: -2.5%;
        right: 5%;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5%;
    }

    &__card {
        background-color: white;
        max-width: rem(240);
        border-radius: rem(16);
        border: 0.558491px solid rgba(0, 0, 0, 0.2);
        box-shadow: 4.38685px 4.87428px 22.3396px rgba(0, 0, 0, 0.2);
        margin-bottom: rem(25);

        &__icon {
            border-radius: rem(16);
            max-height: rem(150);
            display:flex;
            align-items: center;
            justify-content: center;

            > img {
                width: rem(195);
                display:flex;
                align-items: center;
                justify-content: center;
            }

            &--purple {
                background-color: a.$hawkeye-bg-color;
            }
            &--green {
                background-color: a.$hulk-bg-color;
            }
            &--blue {
                background-color: a.$thor-bg-color;
            }
        }

        &__title {
            padding-top: rem(25);
            padding-bottom: rem(10);
            text-align:center;
            font-size: rem(25);
            font-weight: 800;
            font-family:a.$primary-font;
        }

        &__description {
            font-size: rem(18);
            padding-left: rem(20);
            padding-right: rem(20);
            padding-bottom: rem(20);
        }
    }

}

//consider moving this section to another stylesheet
.about {
    position: relative;
    //padding-bottom: 5rem;
    background-color: a.$section-color;
    margin-bottom: 5rem;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: rem(85);
        padding-top: rem(60);

        &::before {
            content: "About Me";
            font-family: a.$primary-font;
            color: a.$marvel-red;
            font-size: rem(46);
            font-weight: 700;
            position:absolute;
            top: -1.5%;
            right: 5%;
        }
    }

    &__text {
        width: 80%;
        margin-top: rem(50);
        margin-bottom: rem(50); 
    }
}

@media only screen and (min-width: 1230px) {

    .resources {
        max-width: rem(1300);
        margin: 0 auto;
        border-radius: rem(30);
        margin-top: rem(96);

        &::before {
            top: -5%;
        }
    }

    .about {
        max-width: rem(1300);
        margin: 0 auto;
        border-radius: rem(30);

        &__container {
            padding: 3rem;
            margin-bottom: rem(60);
            &::before {
                top: -2.5%;
            }
        }

        &__text {
            max-width: 50%;
        }

        #manny-cartoon {
            width: 135%;
        }
    }





}







// // responsive media quieries for (tablet)
// @media only screen and (min-width: 768px) {

//     .resources {
//         &__container {
//             display: flex;
//             justify-content: space-around;
//             //padding-right: 40px;
//             //padding-left: 40px;
//         }
//         &::before {
//             top: -6.4%;
//             right: 5%;
//         }

//     }

//     .about
//      {
//         &__container { 

//             &::before {
//                 top: -2%;
//                 left: 5%;
//             }
//         }

//     }

// }

// //responsive media queries for large screens (laptop)
// @media only screen and (min-width: 1400px) {

//     .resources {
//         margin-right: rem(150);
//         margin-top: 8.5rem;
//         height: 200px;
//         margin-bottom: rem(250);
//         border-top-right-radius: 30px;
//         border-bottom-right-radius: 30px;
//         display: flex;
//         justify-content: center;

//         &__container {
//             margin-left: 9rem;
//         }
//         &__card {
//             transform: scale(1.15);
//             margin-right: 10rem;
//         }

//     }

//     .about {            
//         border-top-left-radius: 30px;
//         border-bottom-left-radius: 30px;
//         margin-bottom: 50px;
//         margin-left: 150px;
//         display: flex;
//         justify-content: flex-end;

//         &__container {
//             margin-top: 0;

//             &::before {
//                 top: -4%;
//             }
//         }

//         &__text {
//             padding-left: rem(150);
//             width: 65%;
//             transform: scale(1.10)
//             ;
//         }
//     }


// }
