@use '../abstracts/' as a;
@use '../functions/' as *;

.resources {
    position: relative;
    background-color: a.$section-color;
    padding-top: rem(70);
    padding-bottom: rem(30);
    margin-top: rem(80);
    margin-bottom: rem(80);

    a, a:visited {
        text-decoration: none;
        color: black;
    }

    &::before {
        content: "Resources";
        font-family: a.$primary-font;
        color: a.$marvel-red;
        font-size: rem(46);
        font-weight: 700;
        position:absolute;
        top: -2.5%;
        right: 5%;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5%;
    }

    &__card {
        background-color: white;
        max-width: rem(240);
        border-radius: rem(16);
        border: 0.558491px solid rgba(0, 0, 0, 0.2);
        box-shadow: 4.38685px 4.87428px 22.3396px rgba(0, 0, 0, 0.2);
        margin-bottom: rem(25);

        &__icon {
            border-radius: rem(16);
            max-height: rem(150);
            display:flex;
            align-items: center;
            justify-content: center;

            > img {
                width: rem(195);
                display:flex;
                align-items: center;
                justify-content: center;
            }

            &--purple {
                background-color: a.$hawkeye-bg-color;
            }
            &--green {
                background-color: a.$hulk-bg-color;
            }
            &--blue {
                background-color: a.$thor-bg-color;
            }
        }

        &__title {
            padding-top: rem(25);
            padding-bottom: rem(10);
            text-align:center;
            font-size: rem(25);
            font-weight: 800;
            font-family:a.$primary-font;
        }

        &__description {
            font-size: rem(18);
            padding-left: rem(20);
            padding-right: rem(20);
            padding-bottom: rem(20);
        }
    }

}

//consider moving this section to another stylesheet
.about {
    position: relative;
    background-color: a.$section-color;
    margin-bottom: rem(80);
    padding-top: rem(70);
    
    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;


        &::before {
            content: "About Me";
            font-family: a.$primary-font;
            color: a.$marvel-red;
            font-size: rem(46);
            font-weight: 700;
            position:absolute;
            top: -1.5%;
            right: 5%;
        }
    }

    &__text {
        width: 80%;
        margin-top: rem(50);
        margin-bottom: rem(50); 
    }
}

@media only screen and (min-width: 1230px) {

    .resources {
        max-width: rem(1300);
        margin: 0 auto;
        margin-bottom: rem(80);
        border-radius: rem(30);
        margin-top: rem(96);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.17);

        &::before {
            top: -5%;
        }
    }

    .about {
        max-width: rem(1300);
        margin: 0 auto;
        margin-bottom: rem(80);
        border-radius: rem(30);
        padding-top: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.17);

        &__container {
            &::before {
                top: -2.5%;
            }
        }

        &__text {
            max-width: 50%;
        }

        #manny-cartoon {
            width: 135%;
        }
    }
}
