@use '../abstracts/' as a;
@use '../functions/' as *;


.footer {
    background: a.$marvel-red;
    font-family: a.$primary-font;
    color: a.$secondary-font-color;
    position: relative;

    &__box {
        width: 200px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        
        &__brand {
            font-size: 36px !important;
        }

        > span {
            font-size: 20px;
        }

        > p {
            font-size: 16px;
            margin: 0;
        }
    }


    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;

        &::before {
            content: "";
            background: url("../img/footer-splash.svg");
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }

}

@media only screen and (min-width: 768px) {

    .footer {

        &__container {
            flex-direction: row;
        }

        &__box {
            text-align: left;
            padding-left: 50px;
        }
    
    }


}

@media only screen and (min-width: 1024px) {

    .footer {
        &::before {
            content:"mrfeeneysclass.com 2021";
            position: absolute;
            bottom:0;
            right:0;
            margin-right: 50px;
            font-size: 18px;
        }

        &__container {
            flex-direction: row;
            height: rem(250);

        }

        &__box {
            text-align: left;
            padding-left: 70px;

            &__brand {
                font-size: 45px !important;
            }
    
            > span {
                font-size: 30px;
            }
    
            > p {
                font-size: 18px;
                margin: 0;
            }
        }
    
    }


}