@use '../abstracts/' as a;
@use '../functions/' as *;


.footer {
    background: a.$marvel-red;
    font-family: a.$primary-font;
    color: a.$secondary-font-color;
    line-height: rem(0);
    position: relative;


    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        flex-wrap: wrap;

        &::before {
            content: "";
            background: url("../img/footer-splash.svg");
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
    &__left {
        padding-right: rem(50);
        > p {
            font-size: rem(25);
            line-height: rem(0);
        }
    }
    &__center {


        > span {
            font-size: 18px;
            line-height: 20px;
            margin-right: 10px;
        }
        > p {
            font-size: 12px;
        }
    }

    &__right {
        > span {
            font-size: 18px;
            line-height: 20px;
        }
        > p {
            font-size: 12px;
        }

    }

}