
@use '../abstracts' as a;
@use '../functions/' as *;


.navbar {
    &__container {
        display:flex;
        justify-content: space-between;
        margin-right: rem(25);
        margin-left: rem(25);
    }

    &__brand {
        font-family: a.$primary-font;
        color: a.$marvel-red;
        font-size: rem(40);
        font-weight: 700;

        @media screen and (min-width: 480px) {
            font-size: rem(60);
        }

    }

    &__mobile-button {
        @media screen and (min-width: 600px) {
            display: none;
        }
    }

    &__links {
        display: none;
        @media screen and (min-width: 600px) {
            display: inline-block;
            font-family: a.$primary-font;
            font-size: rem(30);

            > ul {
                display: flex;
                list-style-type: none;

                > li {
                    font-family: a.$secondary-font;
                    padding-right: rem(40);
                    
                    @media screen and (max-width: 750px) {
                        font-size: rem(20);
                    }
                }
            }
        }
    }
}